<div class="jumbotron">
  <video autoplay loop id="bgvid" ng-class="{'greyscale': videoColor}">
      <source src="../videos/npat cover2.mp4" type="video/mp4">
  </video>

  <div class="call-to-action" ng-mouseleave="videoColor = false" ng-mouseover="videoColor = true;">
    <!-- NPAT LOGO -->
    <div class="row">
      <div class="col-xs">
        <img  src="./images/npat.jpg">
      </div>
    </div>

    <!--  SIGN UP TEXT  -->
    <div class="row">
      <h1 class="col-xs">Sign up for AT ˚ FUNDAY</h1>
    </div>
  </div>
  
  
</div>
