<style type="text/css">
  .call-to-action-container{
    height:100%;
    z-index: 1000000;
    text-shadow: 2px 2px black;
  }
</style>

<!-- for mobile -->
<div id="bgImg" bg-img ng-if="isMobile" ng-class="{'greyscale': videoColor}">
  
</div>

<!-- delete -->
<div id="bgMove" bg-img ng-if="isMobile" ng-class="{'greyscale': videoColor}">
  
</div>

<!-- for desktop -->
<video ng-if="!isMobile" autoplay loop id="bgvid" ng-class="{'greyscale': videoColor}">
    <source src="../videos/npat cover2.mp4" type="video/mp4">
</video>

<div class="call-to-action-container" layout="column" flex layout-align="center start">

  

  <a href="#/funday" class="call-to-action">
    <div class="call-to-action" 
    ng-mouseleave="videoColor = false" 
    ng-mouseover="videoColor = true;"
    layout="column"
    layout-align="center center"
    >
      <!-- NPAT LOGO -->
      <div>
        <img id="npat" src="./images/npat.jpg">  
      </div>
      

      <div>
        <!--  SIGN UP TEXT  -->
        <h1 text-center>Sign up for AT ˚ FUNDAY</h1>

      </div>
    </div>
  </a>

  <div watch-video ng-if="isMobile" class="call-to-action" 
    layout="column"
    layout-align="center center"
    >
      <div>
        <!--  SIGN UP TEXT  -->
        <h1 text-center>Watch AT ˚ FUNDAY video</h1>

      </div>
      <video mobile-vid hidden>
          <source src="../videos/npat cover2.mp4" type="video/mp4">
      </video>
    </div>

  
  
</div>
